body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.start{
    text-align:center;
    padding: 10px;
    font-size: 50px;
    background-image: url(images/ww.jpg);
}

h1{
    font-size: 50px;
}
.orange-color{
    color: rgb(250, 164, 4);
    

}

.red-color{
    color: #56e72a;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(230, 169, 56),tomato);
    color: white;
    padding:15px 35px;
    border-radius: 50px;
    font-weight: 600;
}
.container{
   display: flex;
   margin-bottom: 50px;

}
.half-width{
    width: 50%;
    text-align: justify;
    padding: 5%;

}
.half-width img{
    width: 80%;
}
.about-me{
    background-image: url(images/5.png);
    background-repeat: no-repeat;
    padding: 5%;
    text-align: justify;
    background-position: center;

}

.last-head{
    
    padding: 10px;
    text-align:center;
       
    
}

.cooked{

    box-shadow: 10px 10px 10px 10px rgb(61, 43, 43);
  padding:10px;
  text-align: justify;
  border-radius: 20px;
  margin-left: 50px;
  margin-right: 50px;
  width: 30%;
  height: 50%;
  box-sizing: inherit;

}

#Recipies1{
  
}

#Recipies2{

}

#Recipies3{

}

.end{
    text-align:center;
    background-color: rgba(0, 0, 0, 0.925);
    color:white;
    padding: 10px;
}
